* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	background-image: linear-gradient(135deg, #97abff 10%, #123597 100%);
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	padding: 1rem;
	background-color: #a9def9;
	border-radius: 0.4rem;
	min-height: 20rem;
	max-width: 80%;
}

header {
	background-color: #27187e;
	padding: 0.5rem 6rem;
	color: #ffffff;
	font-family: "Fredoka", sans-serif;
	border-radius: 0.3rem 0.3rem 0 0;
	word-break: normal;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	min-width: 10rem;
	height: 100%;
	text-align: center;
}

.wrap-input {
	display: flex;
}

input {
	padding: 0.5rem;
}

input[type="text"] {
	width: 80%;
	border: none;
	font-family: "Fredoka", sans-serif;
}

input[type="text"]:focus {
	outline: none;
}

input[type="submit"] {
	width: 20%;
	border: none;
	background-color: #ff8600;
	color: #ffffff;
	font-family: "Fredoka", sans-serif;
}

input[type="submit"]:hover {
	color: #27187e;
	cursor: pointer;
}

input[type="checkbox"] {
	cursor: pointer;
}

.checked {
	text-decoration: line-through;
}

.todo {
	display: flex;
	background-color: #758bfd;
	padding: 0.5rem 0.5rem;
	align-items: center;
	position: relative;
	margin: 0.2rem 0;
	border-radius: 0.2rem;
}

.do {
	justify-self: flex-end;
	color: white;
	padding: 0 0.5rem;
	font-family: "Fredoka", sans-serif;
}

.x {
	margin-left: auto;
	display: flex;
	justify-content: center;
	padding: 0.1rem;
	background-color: white;
	border-radius: 0.2rem;
	transition: 0.25s ease-in-out;
}

.x:hover {
	background-color: #123597;
	color: white;
	cursor: pointer;
}

.todo .remove {
	background-color: #97abff;
	padding: 0.4rem;
	text-align: center;
}
